.card{
    margin-right: 90px;
    /* margin-left: 90px */

}
.MuiCircularProgress-root.MuiCircularProgress-colorPrimary.MuiCircularProgress-indeterminate {
    margin: auto;
    margin-left: 46px;
}
.loading-page {
    width: 143px;
    margin: auto;
    margin-top: 20%;
}
p.login-false {
    margin: auto;
    margin-top: 12%;
}

/* .container{
margin:auto
} */