.last-footer{
    background-color: rgb(43, 46, 58);
    color:white;
    padding-top: 5%;
    height: 400px;
}
.side-gap{
    margin-left: 6%;
    text-decoration: none;
}
footer {
    text-align: center;
    margin-top: 7%;
}
h5.font {
    margin-left: 13%;
    margin-bottom: 13%;
}
#copyright{
    background-color: none !important;
    color: white;
}
img.calendar ,img.people {
    width: 20px;
}
img.people {
    margin-left: 38px;
}
@media screen and (max-width:1366px){
    .last-footer{
        height: 500px;
    }
}
@media screen and (max-width:1200px){
    .last-footer{
        height: 690px;
    }
    
}

@media screen and (max-width:500px){
    .last-footer{
        height: 550px !important;
    }
    
}
@media screen and (max-width:700px){
    .last-footer{
        height: 590px !important;
    }
    
}
@media screen and (max-width:575px){
    .col-md-3.mar-bottom {
        margin-left: 16%;
    }
    
}


@media screen and (min-width:768px){
    .last-footer{
        height: 530px !important;
    }
    
}
@media screen and (min-width: 1366px){
    .last-footer {
        height: 399px !important;
    }
}